body{
    background: grey;
}
*{
    padding: 0;
    margin: 0;
}
/*.taiji{
    width:200px;
    height: 0;
    border-top: 100px solid white;
    border-bottom: 100px solid black;
    border-radius: 50%;
    position: relative;
}*/
.taiji{
    position: relative;
    background: white;
    width: 200px;
    height: 95px;
    left: 20px;
    border: 1px solid transparent;
    border-bottom-width: 100px;
    border-bottom-color: black;
    border-radius: 50%;
}
/*.taiji::before{
    content: '';
    position: absolute;
    top:50%;
    left:0;
    width: 20px;
    height: 20px;
    background: white;
    border: 40px solid black;
    border-radius: 50%;
}*/
.taiji::before {
    content: '';
    position: absolute;
    top:50%;
    left:0;
    width: 20px;
    height: 20px;
    background: white;
    border: 40px solid black;
    border-radius: 50%;
}
.taiji::after {
    content: '';
    position: absolute;
    top:50%;
    right:0;
    width: 20px;
    height: 20px;
    background: black;
    border: 40px solid white;
    border-radius: 50%;
}